* {
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.header {
    background-image: url(/Users/klance/Desktop/Broadway/resources/images/the-flatiron-building.png);
    color: white;
    text-align: center;
  }

  .menu {
    font-size: 18px;
    color: white;
  }
